@font-face {
    font-family: Heading-reg;
    src: url(./fonts/SpaceMono-Regular.ttf);
    }


h1 {
    font-family: Heading-reg;
    font-size: 2.2rem;
}

h2 {
    font-family: Heading-reg;
    font-size: 1.5rem;
}

h3 {
    font-family: monospace;
    font-size: .9rem;
}

p {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 100;;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

}

.footer-container {
    position: flex;
    background-color: burlywood;
    margin: 0 auto;
    width: 100vw;
    border-top: solid 5px black;
    text-align: center;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: solid 2px burlywood;
    max-width: 15vw;
    border-radius: 10px;
    margin: 10px;
}

.card-img {
  display:flex;
  justify-content: center;
  width: 80%;
  height: 30%;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.css-b62m3t-container {
    width: 80vw;
}

.header-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin: 0 auto;
    flex-direction: column;
    width: 80vw;
}

.header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.logo {
    display:flex;
    align-items:  center;
    height: 200px;
    width: auto;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
}

.pokemon-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

.header-right {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.header-right h1 {
  text-align: right;
  margin: 5px 5px 0px 5px;
  padding: 5px 5px 0px 5px;
}

.header-right h3 {
    text-align: right;
    margin: 0px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    font-weight: 100;
}

.logged-out-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    max-width: 80vw;
}

.logged-out-details {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px 10px 30px;
    padding:10px;
    text-align: center;
    width: 35vw;
}

.logged-out-details button {
    background-color: white;
    border: 0px;
    text-align: right;
    font-family: Heading-reg;
    font-size: 1.2rem;
}

.logged-out-image img {
    max-width: 500px;
    display:flex
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Fancy nav buttons */
.button-56 {
    align-items: center;
    background-color: burlywood;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: monospace;    font-size: .9rem;  font-weight: 400;
    height: 35px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    margin: 0px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 35px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}
